<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
      description="Skill Graphs Description"
      id="de.tubs.skeditor.diagram.SkillGraphDiagramType"
      name="Skill Graph"
      type="SkillGraph">
    </diagramType>
  </extension>

  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
          class="de.tubs.skeditor.diagram.DiagramTypeProvider"
          context="de.tubs.skeditor.editor"
          id="de.tubs.skeditor.diagram.SkillGraphDiagramTypeProvider"
          name="skeditor Diagram Type Provider">
      <diagramType
        id="de.tubs.skeditor.diagram.SkillGraphDiagramType">
      </diagramType>
      <imageProvider
            id="de.tubs.skeditor.SkillGraphImageProvider">
      </imageProvider>
    </diagramTypeProvider>
  </extension>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SkillGraph -->
      <package
            uri="www.thisisnotarealuri.de"
            class="SkillGraph.SkillGraphPackage"
            genModel="model/SkillGraph.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.tubs.skeditor.ImageProvider"
            id="de.tubs.skeditor.SkillGraphImageProvider">
      </imageProvider>
   </extension>
   <extension point="org.eclipse.ui.views">
   <view
         class="de.tubs.skeditor.views.SafetyGoalsView"
         id="de.tubs.skeditor.views.SafetyGoalsView"
         name="Safety Goals"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.tubs.skeditor.views.ParameterListView"
            id="de.tubs.skeditor.views.ParameterListView"
            name="Parameter List">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.tubs.skeditor.views.DynamicModelView"
            id="de.tubs.skeditor.views.DifferentialEquationView"
            name="Dynamic Model">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tubs.skeditor.diagram.SkeditorDiagramEditor"
            default="true"
            extensions="sked"
            icon="icons/skeditor16.png"
            id="de.tubs.skeditor.editor"
            matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
            name="Skeditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tubs.skeditor.category.skeditor"
            name="Skeditor">
      </category>
      <wizard
            category="de.tubs.skeditor.category.skeditor"
            class="de.tubs.skeditor.wizards.NewProjectWizard"
            icon="icons/project16.png"
            id="de.tubs.skeditor.newproject"
            name="Skeditor Project">
      </wizard>
      <wizard
            category="de.tubs.skeditor.category.skeditor"
            class="de.tubs.skeditor.wizards.NewGraphWizard"
            icon="icons/skeditor16.png"
            id="de.tubs.skeditor.newgraph"
            name="Skeditor file">
      </wizard>
      <wizard
            category="de.tubs.skeditor.category.skeditor"
            class="de.tubs.skeditor.wizards.NewComposeWizard"
            icon="icons/skeditor16.png"
            id="de.tubs.skeditor.newcompose"
            name="Skeditor Compose">
      </wizard>
      <wizard
            category="de.tubs.skeditor.category.skeditor"
            class="de.tubs.skeditor.wizards.GraphSynthesisWizard"
            icon="icons/skeditor16.png"
            id="de.tubs.skeditor.graphsynthesis"
            name="Skeditor Graph Synthesis">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.tubs.skeditor.propertyContributor">
         <propertyCategory  category="SkeditorProperties"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.tubs.skeditor.propertyContributor">
         <propertyTab
               category="SkeditorProperties"
               id="de.tubs.skeditor.property.main"
               label="Main">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.tubs.skeditor.propertyContributor">
         <propertySection
               class="de.tubs.skeditor.property.SkillSection"
               filter="de.tubs.skeditor.property.SkillFilter"
               id="de.tubs.skeditor.property.mainsection"
               tab="de.tubs.skeditor.property.main">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
